{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", { "preset": "conventionalcommits" }],
    ["@semantic-release/release-notes-generator", { "preset": "conventionalcommits" }],
    "@semantic-release/git",
    "@semantic-release/github",
    [
      "@codedependant/semantic-release-docker",
      {
        "dockerImage": "bunderlog/forge",
        "dockerFile": "Dockerfile",
        "dockerTags": ["latest", "{{version}}", "{{major}}-latest", "{{major}}.{{minor}}"],
        "dockerPublish": true
      }
    ]
  ]
}
